.footer {
    background-color: #6278F7;
    background-image: url("../../../public/images/fundo.png");
    background-position: top left;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding: 32px;
    height: 70px;
}

.footer .social {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .social img {
    width: 25px;
    height: 25px;
}

.footer .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .dev-alura {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
}